@model IEnumerable<DotNetDrinks.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<section class="row card-group">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 mb-3">
            <div class="card mb-6 text-center h-100">
                <div class="card-body">
                    <a asp-controller="Store" asp-action="Browse" asp-route-id="@item.Id">@item.Name</a>
                </div>
            </div>
        </div>
    }
</section>
