@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the DotNetDrinks Store</h1>
    <p>This site is built for COMP2084 at Georgian College.</p>
    <p>Product Images from <a href="https://pixabay.com" target="_blank">Pixabay</a>.</p>
    <p>Logo made at <a href="https://looka.com" target="_blank">Looka.com</a></p>
</div>

  